body
{
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	background-color: #3b433a;
}
div#pts_container
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	color: #FFF;
	overflow: hidden;
	background-color: #222;
	border: solid #000;
	border-width: 0 1px 1px;
}
div#pts_container a
{
	color: #FFF;
}
div#pts_logo
{
	margin: 0;
	width: 960px;
	height: 70px;
	background: #222 url(phoronix-test-suite.gif) no-repeat;
	border: solid #000;
	border-width: 0 0 1px 0;
}
div#pts_benchmark_main_header
{
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
	padding: 5px 0 5px 15px;
}
div#pts_description_area
{
	padding: 0 0 5px;
}
div#pts_benchmark_area
{
	background-color: #FFF;
	padding: 15px 10px;
	color: #000;
	overflow: hidden;
}
div.pts_benchmark_descriptor
{
	color: #EFEFEF;
	padding: 5px 20px;
}
div.pts_area_box
{
	background-color: #66695B;
	color: #EFEFEF;
	padding: 1px 5px 0;
	border: solid #000 1px;
}
div.pts_benchmark_bar
{
	background-color: #2b6b29;
	color: #FFF;
	padding: 4px;
	border: solid #000 1px;
	clear: both;
}
span.pts_benchmark_bar_header
{
	font-size: 18px;
	font-weight: bold;
}
span.pts_benchmark_bar_version
{
	vertical-align: super;
	padding-left: 5px;
	font-size: 10px;
}
div.pts_benchmark_text
{
	padding: 50px 15px 15px;
	float: left;
	overflow: hidden;
}
div.pts_benchmark_img_area
{
	padding: 15px 0 15px 35px;
	float: right;
	overflow: hidden;
	height: 100%;
	vertical-align: middle;
}
