<?xml version="1.0"?>
<PhoronixTestSuite>
	<SuiteInformation>
		<Title>Server Motherboard</Title>
		<Version>1.2.0</Version>
		<Maintainer>Michael Larabel</Maintainer>
		<TestType>System</TestType>
		<Description>A collection of motherboard tests for a server environment.</Description>
	</SuiteInformation>
	<Execute>
		<Test>apache</Test>
	</Execute>
	<Execute>
		<Test>pgbench</Test>
	</Execute>
	<Execute>
		<Test>postmark</Test>
	</Execute>
	<Execute>
		<Test>iozone</Test>
		<Arguments>-r 4k -s 4096M -i0</Arguments>
		<Description>Size: 4GB - Disk Test: Write Performance</Description>
	</Execute>
	<Execute>
		<Test>iozone</Test>
		<Arguments>-r 4k -s 4096M -i0 -i1</Arguments>
		<Description>Size: 4GB - Disk Test: Read Performance</Description>
	</Execute>
	<Execute>
		<Test>c-ray</Test>
	</Execute>
	<Execute>
		<Test>povray</Test>
	</Execute>
	<Execute>
		<Test>crafty</Test>
	</Execute>
	<Execute>
		<Test>gcrypt</Test>
	</Execute>
	<Execute>
		<Test>phpbench</Test>
	</Execute>
	<Execute>
		<Test>graphics-magick</Test>
		<Arguments>-colorspace HWB</Arguments>
		<Description>Operation: HWB Color Space</Description>
	</Execute>
	<Execute>
		<Test>openssl</Test>
	</Execute>
	<Execute>
		<Test>john-the-ripper</Test>
		<Arguments>BLOWFISH</Arguments>
		<Description>Blowfish</Description>
	</Execute>
	<Execute>
		<Test>mafft</Test>
	</Execute>
	<Execute>
		<Test>himeno</Test>
	</Execute>
	<Execute>
		<Test>hmmer</Test>
	</Execute>
	<Execute>
		<Test>encode-mp3</Test>
	</Execute>
	<Execute>
		<Test>ffmpeg</Test>
	</Execute>
	<Execute>
		<Test>compress-lzma</Test>
	</Execute>
	<Execute>
		<Test>compress-pbzip2</Test>
	</Execute>
	<Execute>
		<Test>bullet</Test>
		<Arguments>3000 fall</Arguments>
		<Description>Test: 3000 Fall</Description>
	</Execute>
	<Execute>
		<Test>bullet</Test>
		<Arguments>convex-trimesh</Arguments>
		<Description>Test: Convex Trimesh</Description>
	</Execute>
	<Execute>
		<Test>npb</Test>
		<Arguments>ep.B</Arguments>
		<Description>Test / Class: EP.B</Description>
	</Execute>
	<Execute>
		<Test>npb</Test>
		<Arguments>is.C</Arguments>
		<Description>Test / Class: IS.C</Description>
	</Execute>
	<Execute>
		<Test>npb</Test>
		<Arguments>lu.A</Arguments>
		<Description>Test / Class: LU.A</Description>
	</Execute>
	<Execute>
		<Test>npb</Test>
		<Arguments>mg.B</Arguments>
		<Description>Test / Class: MG.B</Description>
	</Execute>
	<Execute>
		<Test>stream</Test>
		<Arguments>Copy</Arguments>
		<Description>Type: Copy</Description>
	</Execute>
	<Execute>
		<Test>stream</Test>
		<Arguments>Scale</Arguments>
		<Description>Type: Scale</Description>
	</Execute>
	<Execute>
		<Test>stream</Test>
		<Arguments>Add</Arguments>
		<Description>Type: Add</Description>
	</Execute>
	<Execute>
		<Test>stream</Test>
		<Arguments>Triad</Arguments>
		<Description>Type: Triad</Description>
	</Execute>
</PhoronixTestSuite>
