body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
div#header
{
	border: 1px solid #eee;
	border-width: 0 0 1px 0;
	padding: 2px 10px 0;
	color: #337ca6;
	overflow: hidden;
	font-size: 23pt;
	font-weight: 500;
}
div#header ul
{
	float: right;
	list-style-type: none;
	margin: 5px 0 0;
	padding: 0;
}
div#header ul li
{
	padding: 0 30px;
	float: left;
}
div#header ul li a, div#header a
{
	font-weight: 400;
	color: #337ca6;
	text-decoration: none;
}
div#header ul li a:hover, div#header a:hover
{
	color: #000;
}
div#main_area
{
	font-size: 15pt;
	color: #222;
	padding: 50px;
}
div#main_area a
{
	color: #0367B4;
	text-decoration: none;
}
div#main_area a:hover
{
	color: #4BABF4;
}
div#main_area h1
{
	clear: both;
	color: #098BEF;
	font-weight: 500;
	text-transform: uppercase;
}
div#main_area h3
{
	color: #098BEF;
	font-weight: 500;
	font-size: 90%;
	margin: 5px 0;
}
div#main_area h2
{
	color: #098BEF;
	font-weight: 500;
	padding: 0;
	margin: 10px 0 2px;
}
div#main_area input, div#main_area textarea, div#main_area select, div#main_area button
{
	margin: 1px 0;
	background: #ddd;
	color: #000;
	font-size: 13pt;
	border: 1px solid #eee;
	padding: 5px 10px;
	font-weight: 600;
}
div#main_area input::placeholder, div#main_area textarea::placeholder, div#main_area select::placeholder
{
	color: #000;
	opacity: 0.7;
	font-weight: 400;
}
div#main_area ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	background: #ef5e09;
	color: #fff;
	clear: both;
}
div#main_area ul:hover a
{
	background: #ef5e09;
	color: #fff;
}
div#main_area ul a
{
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	line-height: 26px;
	padding: 4px 8px;
}
div#main_area ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #aaa;
}
div#main_area ul li:last-of-type{
	border-right:none;
}
div#main_area ul li:hover
{
	color: #222;

}
div#main_area ul ul a:hover, div#main_area ul li a:hover{
	color:#222;
}

div#main_area ul ul a
{
	padding: 0 8px;
	font-weight: 300;
	font-size: 10pt;
}
div#main_area ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	font-weight: 300;
	left: 0;
	background: #fff;
	padding: 0
}
div#main_area ul ul li
{
	border: 1px solid #eee;
	border-top: 1px;
	float: none;
}
div#main_area ul li:hover > ul
{
	display: block
}
div#main_area div.sub
{
	margin: -5px 0 8px;
	padding: 0;
	font-size: 10pt;
	text-transform: uppercase;
	color: #ef5e09;
}
div#main_area div.desc
{
	margin: 0;
	padding: 0;
	font-size: 10pt;
}
div#main_area span.sub_header
{
	text-transform: uppercase;
	font-size: 8pt;
	font-weight: bold;
}
hr
{
	color: #ef5e09;
	opacity: 0.3;
	margin: 0 10%;
}
div#footer, div#footer a
{
	font-size: 9pt;
	color: #aaa;
	text-align: center;
	padding: 0;
	text-decoration: none;
}
.grid
{
	font-size: 10pt;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: auto;
	border-left: 1px solid #ccc;
	margin: 20px auto;
	overflow: hidden;
}
.grid > span
{
	padding: 2px 4px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.grid > span strong
{
	font-size: 12pt;
}
div#main_area svg
{
	min-width: 30%;
	height: auto;
}
div#results svg
{
	margin-top: 16px;
	min-width: 50%;
	height: auto;
}
div#results section
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div#results_sidebar
{
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 120px;
	left: 0;
	bottom: 0;
	background: #efefef;
	padding: 2px 4px;
	font-size: 12px;
	overflow: scroll;
	display: none;
}
div#results_sidebar a.active
{
	font-weight: bold;
	color: red;
}
div.geo_bg_graph
{
	background: #CCC;
	font-size: 10pt;
	font-weight: 500;
	margin: 0;
	padding: 1px 4px;
	border: #BBB 2px solid;
	border-width: 1px;
}
input#compare_results_submit
{
	display: none;
}
input[type="checkbox"] + label
{
	display: none;
	background: #03b450;
	color: #FFF;
	padding: 4px;
	border: 1px solid #000;
	font-weight: 10pt;
}
input[type="submit"], .primay-button, button{
	background: #03b450 !important;
	color: #FFF !important;
	padding: 4px;
	border: 1px solid #000;
	font-size: 10pt;
}
input[type="checkbox"]:checked + label
{
	font-weight: bold;
	display: inline;
}
input[type=number]
{
    width: 70px;
}
div#login_box
{
	margin-top: 20%;
	background-image: linear-gradient(#098BEF, #0367B4);
	border: 1px solid #eee;
	border-width: 1px 0 1px 0;
	padding: 30px 0;
	color: #fff;
	overflow: hidden;
}
div#login_box input
{
	margin: 10px 0;
	background: #098BEF;
	color: #fff;
	font-size: 15pt;
	border: 1px solid #eee;
	padding: 5px 10px;
}
div#login_box input::placeholder
{
	color: #fff;
}
div#login_box h1
{
	font-weight: 500;
	text-transform: uppercase;
}
div#login_box h2
{
	font-weight: 400;
	text-transform: uppercase;
}
div#login_box_left
{
	float: left;
	width: 50%;
	padding: 12px 30px 0 0;
	text-align: right;
	border: 1px solid #eee;
	border-width: 0 1px 0 0;
	min-height: 250px;
}
div#login_box_right
{
	border-width: 0 0 0 1px;
	float: left;
	padding-left: 30px;
	text-align: left;
}
div#leading_message
{
	border-style: solid;
	border-width: 1px;
	border-color: #cecece;
	font-size: 16px;
	margin: 14px;
	color: #098BEF;
	padding: 10px;
}
a.mini
{
	font-size: 11px;
}
p.mini
{
	font-size: 11px;
}
.div_table
{
	display: table;
}
div#main_area .div_table_cell input, div#main_area .div_table_cell select
{
	font-size: 12px;
	padding: 0;
}
.div_table_row
{
	display: table-row;
}
.div_table_first_row
{
	display: table-row;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}
.div_table_cell
{
	border: 0;
	display: table-cell;
	padding: 1px 0 1px 4px;
}
.div_table_body
{
	display: table-row-group;
}
.print_notes
{
	display: none;
}
.test_error
{
	color: #FF0000;
	font-size: 12px;
}
a div.table_test_box:hover
{
	background: #f1f1f1;
	border-color: #1F1F1F;
}
div.pts_test_boxes
{
	overflow: hidden;
}
div.table_test_box
{
	background: #fff;
	color: #000;
	font-size: 12px;
	border: solid #949494 1px;
	display: block;
	margin: 3px;
	padding: 2px 4px;
	float: left;
	width: 280px;
}
div.table_test_box strong
{
	color: #044374;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.table_test_box em, div.pts_test_boxes em
{
	color: #ef5e09;
}
div.pts_result_viewer_settings_box
{
	float: left;
	overflow: hidden;
	padding: 4px;
}
div.pts_result_table
{
	display:flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
div.pts_result_table .grid
{
	overflow: auto;
}
p#result_file_system_table
{

}
.tabs
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.tabs label
{
	order: 1;
	display: block;
	padding: 5px 10px;
	margin: 0 1px 2px;
	cursor: pointer;
	background: #ef5e09;
	color: #fff;
	transition: background ease 0.5s;
	user-select: none;
}
.tabs .tab
{
	order: 99;
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
}
.tabs input[type="radio"]
{
	display: none;
}
.tabs input[type="radio"]:checked + label
{
	color: #000;
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab
{
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
@media (max-width: 1000px) {
	div.pts_result_viewer_settings_box { float: none; font-size: 15pt; }
	div.pts_result_table { display: none; }
	.print_notes { display: block !important; }
	p#result_file_system_table { display: none; }
	div#results { margin: 0; }
	div#results svg { width: 100%; }
	div#main_area { padding: 5px; }
	#result_overview_area { display: none !important; }
	div#header ul li { padding: 0 5px; }
	div#results_sidebar { display: none; }
}

@media print
{
	#header, #result-settings, ul, a.mini, div.grid, #result_overview_area, .hide_on_print, .tabs label, button { display: none !important; }
	p.mini { font-size: 7px; }
	#main_area, #main_area p, #result_file_desc { font-size: 12px; }
	#main_area h1, #main_area h2 { font-size: 16px; }
	.print_notes { display: block !important; }
	div#results_sidebar { display: none; width: 0; height: 0; }
	div#results { margin: 0; margin-left: 0px; padding: 0; }
}
@media (prefers-color-scheme: dark) {
svg {
	filter: invert(.895) hue-rotate(180deg)
}
body, div#main_area, div#results_sidebar
{
	color: #efefef;
	background: #1c1c1c;
}
div#results_sidebar
{
	border: 1px solid #fff;
}
}
