body
{
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	color: #000;
}
h1, h2, h3, h4, h5, h6
{
		font-family: 'Quicksand', sans-serif;
}
a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #337ca6;
}
div#pts_phoromatic_top_header
{
	border: #eee 1px solid;
	border-width: 0 0 1px 0;
	overflow: hidden;
	margin: 0;
	padding: 4px 10px;
	width: 100%;
	display: table;
	font-size: 1.3em;
	font-family: 'Quicksand', sans-serif !important;
}
div#pts_phoromatic_top_header_right
{
	color: #e88f09;
	height: 50px;
	text-align: right;
	vertical-align: middle;
	display: table-cell;
	padding: 5px 30px 0 0;
	font-size: 0.9em;
	line-height: 140%;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif !important;
}
div#pts_phoromatic_top_header_right a
{
	color: #337ca6;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif !important;
}
div#pts_phoromatic_top_header input, div#pts_phoromatic_top_header button
{
	background: #D9D9D9;
	color: #262626;
	font-weight: 400;
	text-transform: uppercase;
}
div#pts_phoromatic_bottom_footer
{
	font-weight: 300;
	clear: both;
	overflow: hidden;
	font-size: 0.6em;
	line-height: 150%;
	color: #222;
}
div#pts_phoromatic_bottom_footer a img
{
	opacity: 0.6;
}
div#pts_phoromatic_bottom_footer a:hover img
{
	opacity: 1.0;
}
div#pts_phoromatic_bottom_footer a:hover
{
	text-decoration: underline;
}
div#pts_phoromatic_logo
{
	display: table-cell;
	color: #e88f09;
	vertical-align: top;
}
div#pts_phoromatic_top_header ul ul#pts_phoromatic_info li
{
	color: #A4B304;
	text-align: left;
}
div#pts_phoromatic_top_header ul
{
	color: #337ca6;
	list-style: none;
	margin: 0 4px;
	padding: 0;
	display: table-cell;
}
div#pts_phoromatic_top_header ul ul
{
	display: none;
	position: relative;
	top: 0;
	left: 0;
	padding: 0 0 20px;
	margin: 0;
}
div#pts_phoromatic_top_header ul ul li
{
	float: none;
	width: auto;
	font-size: 0.8em;
	padding: 0;
	height: 30px;
}
div#pts_phoromatic_top_header ul ul a
{
	text-align: center;
}
div#pts_phoromatic_top_header li u
{
	text-decoration: none;
}
div#pts_phoromatic_top_header li
{
	text-transform: uppercase;
	list-style-type: none;
	padding: 0 40px 0 0;
	text-align: center;
	float: left;
	position: relative;
	vertical-align: top;

}

div#pts_phoromatic_top_header:hover ul li > ul
{
	display: block;
}
div#pts_phoromatic_top_header li a, div#pts_phoromatic_top_header li form
{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	height: 60px;
}
div#pts_phoromatic_top_header li a:hover, div#pts_phoromatic_top_header_right a:hover
{
	color: #D95D04;
}
div#pts_phoromatic_menu_right p
{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 1px 5px;
	font-size: 0.8em;
}
div#pts_phoromatic_menu_right h3
{
	font-weight: 500;
	color: #D95D04;
	font-size: 1em;
	margin: 10px 0 0;
	text-align: center;
}
div#pts_phoromatic_menu_right
{
	width: 15%;
	height: 100%;
	float: right;
	overflow: hidden;
	border: #e4e4e4 1px solid;
	border-width: 0 0 0 1px;
	color: #222;
	margin: 0;
}
div#pts_phoromatic_menu_right ul
{
	list-style: none;
	margin: 8px 10px;
	padding: 0;
	font-size: 1.1em;
}
div#pts_phoromatic_menu_right ul li
{
	margin-bottom: 2px;
	font-weight: 500;
	color: #D95D04;
}
div#pts_phoromatic_menu_right ul li a
{
	font-weight: 300;
	color: #337ca6;
}
div#pts_phoromatic_menu_right ul li a:hover, div#pts_phoromatic_menu_right p a:hover
{
	color: #D95D04;
}
div#pts_phoromatic_menu_right hr
{
	border: #E0E0E0 1px solid;
	border-width: 0 0 1px 0;
	background-color: #E0E0E0;
	width: 96%;
	height: 1px;
	opacity: 0.5;
}
div#pts_phoromatic_main_box h1
{
	color: #D95D04;
}
div#pts_phoromatic_main_box
{
	color: #212121;
	margin: 0 20px;
	padding: 30px 0;
}
div#pts_phoromatic_main_box_inside
{
	margin: 0 auto;
	padding: 10px 20px;
	min-height: 500px;
}
@media screen and (min-width:1700px){
	div#pts_phoromatic_top_header li
	{
		text-transform: uppercase;
		list-style-type: none;
		padding: 0 40px 0 0;
		text-align: center;
		float: left;
		position: relative;
		vertical-align: top;
		min-width:200px;
	}

}
@media screen and (min-width:1000px){

div#pts_phoromatic_main_box_inside{
	width:70%;
	padding: 10px 30px;
}
}
div#pts_phoromatic_main
{
	font-size: 1em;
	overflow: hidden;
	padding: 0 0 40px 10px;
}
div#pts_phoromatic_main_area
{
	font-size: 1.1em;
	padding: 10px 20px 10px;
	min-height: 1000px;
	background: #FFF;
	overflow: hidden;
	color: #555;
	margin: 5px 5px 0 0;
}
h1
{
	color: #D95D04;
	font-weight: 400;
	font-size: 1.6em;
}
div#pts_phoromatic_main_area ol
{
	margin: 0;
}
div#pts_phoromatic_main_area ol li
{
	padding-bottom: 8px;
	margin-bottom: 6px;
}
div#pts_phoromatic_main_box h2, div#pts_phoromatic_main_area h2
{
	margin: 1px 0 10px;
	clear: both;
	font-size: 1.2em;
	font-weight: 500;
	color:#D95D04;
}
.alert
{
	color: #f44336;
	font-weight: bold;
}
sup
{
	font-size: 0.6em;
}
p.result_object
{
	text-align: center;
}
div#pts_phoromatic_main_area a[href*="http"], div#pts_phoromatic_main_box a[href*="http"]
{
	border-bottom: 1px dotted #A4B304;
	display: inline;
}
div#pts_phoromatic_main_area a[href*="http"]:hover, div#pts_phoromatic_main_box a[href*="http"]:hover
{
	text-decoration: none;
	border-bottom: 1px solid #A4B304;
}
div#pts_phoromatic_main_box h2 a
{
	color: #D95D04;
}
div#pts_phoromatic_main_box h2 a.phx_alt
{
	color: #D95D04;
}
div#pts_phoromatic_main_box h2 a:hover
{
	color: #D95D04;
	text-decoration: underline;
}
div#pts_phoromatic_main_box h6
{
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: #D95D04;
}
div#pts_phoromatic_main_box h5
{
	font-size: 0.8em;
	color: #D95D04;
}
div#pts_phoromatic_main_box h3
{
	font-size: 1.05em;
	font-weight: 400;
	color: #D95D04;
}
div#pts_phoromatic_main_box h4
{
	font-size: 1em;
	font-weight: 500;
	color: #D95D04;
}
div#pts_phoromatic_main_area ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
div#pts_phoromatic_main_area ul:hover a
{
	color: #000;
}
div#pts_phoromatic_main_area ul a
{
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 600;
	line-height: 26px;
	padding: 4px 8px;
	text-transform: uppercase;
}
div#pts_phoromatic_main_area ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #aaa;
}
div#pts_phoromatic_main_area ul li:last-of-type{
	border-right:none;
}
div#pts_phoromatic_main_area ul li:hover
{
	background: #eee;

}
div#pts_phoromatic_main_area ul ul a:hover, div#main_area ul li a:hover{
	color:#03b450;
}

div#pts_phoromatic_main_area ul ul a
{
	padding: 0 8px;
	font-weight: 300;
	font-size: 10pt;
}
div#pts_phoromatic_main_area ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	font-weight: 300;
	left: 0;
	background: #fff;
	padding: 0
}
div#pts_phoromatic_main_area ul ul li
{
	border: 1px solid #eee;
	border-top: 1px;
	float: none;
}
div#pts_phoromatic_main_area ul li:hover > ul
{
	display: block
}
div#pts_phoromatic_main_area hr, div#pts_phoromatic_main_box hr
{
	border: #f1f1f1 1px solid;
	border-width: 0 0 1px 0;
	background-color: #f1f1f1;
	clear: both;
	height: 1px;
	margin: 14px 0;
}
div#pts_phoromatic_main_area ol
{
	list-style: none;
	margin: 10px 10px 20px 0;
	padding: 0;
}
div#pts_phoromatic_main_area ol li
{
	margin: 0;
}
div#pts_phoromatic_main_area p a, div#pts_phoromatic_main_area a, div#pts_phoromatic_main_area h6 a, div#pts_phoromatic_main_area h5 a, div#pts_phoromatic_main_box p a
{
	color: #0367B4;
	font-weight: 500;
}
div#pts_phoromatic_main_area p a:hover, div#pts_phoromatic_main_area a:hover, div#pts_phoromatic_main_area h6 a:hover, div#pts_phoromatic_main_area h5 a:hover, div#pts_phoromatic_main_box p a:hover
{
	text-decoration: underline;
}
div#pts_phoromatic_main_area p
{
	margin-top: 0;
}
blockquote
{
	background: #e4e4e4;
	margin: 10px 10px 20px 10px;
	border: #d2d2d2 1px solid;
	border-radius: 3px;
	padding: 10px 14px;
}
div.pts_phoromatic_create_test_option_area_uncommon
{
	padding: 0 0 10px;
}
div.pts_phoromatic_create_test_option_area_uncommon h3
{
	color: #999;
}
div.pts_phoromatic_create_test_option_area_uncommon p
{
	display: none;
}
div.pts_phoromatic_create_test_option_area_uncommon:hover p
{
	display: block;
	font-size: 90%;
}
div.pts_phoromatic_info_box_area a, div.pts_phoromatic_info_box_area ul a, div.pts_phoromatic_info_box_area ul a li
{
	color: #272727;
	font-weight: 300;
}
div.pts_phoromatic_info_box_area ul
{
	list-style: none;
	background: #e4e4e4;
	margin: 10px 10px 20px 10px;
	border: #d2d2d2 1px solid;
	border-radius: 3px;
	padding: 0;
	max-height: 500px;
	overflow-y: auto;
}
div.pts_phoromatic_info_box_area ul:last-child a:last-child li
{
	border-bottom: 1px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}
div.pts_phoromatic_info_box_area ul h1
{
	font-size: 1.2em;
	color: #A4B304;
	margin: 1px 0;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
div.pts_phoromatic_info_box_area ul a li, div.pts_phoromatic_info_box_area ul li.light
{
	background: #f1f1f1;
	border: #d2d2d2 0 solid;
	border-width: 1px 0 0;
	padding: 3px 6px;
	margin: 0;
	font-weight: 500;
}
li.light
{
	clear: both;
	width: 100%;
}
div#pts_phoromatic_main_area div.pts_phoromatic_info_box_area ul a:hover li, div#pts_phoromatic_main_area  div.pts_phoromatic_info_box_area ul:hover a
{
	background: #E0E0E0;
	text-decoration: none;
	transition: all 0.4s;
}
.r_form_wrapper{
	list-style-type: none;

}
.label_input_wrapper{
		padding: 10px;
		width:200px;
}
input[type=submit]
{
	font-weight: 500;
}
input, select, textarea, checkbox
{
	border: solid #1f1f1f 1px;
	background-color: #E0E0E0;
	color: #1F1F1F;
	padding: 5px 10px;
	border-radius: 3px;
	transition: all 0.3s;
	line-height:1.8;
}
button, input[type="submit"]
{

	background: #03b450 !important;
	color: #FFF !important;
	padding: 4px;
	border: 1px solid #000;
	font-size: 10pt;
}
textarea
{
	font-weight: 500;
}
input:focus, textarea:focus
{
	background: #666;
	color: #FFF;
	box-shadow: 1px 1px 2px #222;
	-moz-box-shadow: 1px 1px 2px #222;
	-webkit-box-shadow: 1px 1px 2px #222;
}
div.pts_phoromatic_info_box_area
{
	clear: both;
}
div.pts_phoromatic_info_box_area ul li table tbody tr.tb_compare_bar
{
	margin-top: 3px;
	padding: 6px 3px 2px;
	color: #337ca6;
	font-weight: bold;
	display: none;
}
div.pts_phoromatic_info_box_area table
{
	text-align: left;
	width: 100%;
	padding: 2px;
	margin: 0;
	table-layout: fixed;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8em;
}
div.pts_phoromatic_info_box_area table td, div.pts_phoromatic_info_box_area table tr
{
	background: transparent;
	border: 0;
	padding: 0;
	transition: none;
}
div.pts_phoromatic_info_box_area table tr:hover td
{
	background: transparent;
	color: #D95D04;
}
table.pts_phoromatic_schedule_type
{
	padding: 10px 0;
}
table.pts_phoromatic_schedule_type td, table.pts_phoromatic_schedule_type tr:nth-child(odd) td
{
	border: 5px solid transparent;
	border-width: 0 5px;
	border-collapse: collapse;
	background: #f1f1f1;
	border: solid #d2d2d2 1px;
	padding: 2px 10px;
}
table.pts_phoromatic_schedule_type tr td:first-child
{
	vertical-align: top;
	max-width: 20%;
}
table.pts_phoromatic_schedule_type tr td:last-child
{
	min-width: 80%;
}
table.pts_phoromatic_schedule_type tr:hover td
{
	background: inherit;
	color: inherit;
}
table
{
	color: #333;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 10px;
}
td, th
{
	border: 1px solid transparent;
	transition: all 0.2s;
}
th
{
	background: #DFDFDF;
	font-weight: 500;
	padding: 2px 6px;
	text-align: left;
}
td
{
	background: #FAFAFA;
	padding: 0 4px;
	color: #D95D04;
}
tr:nth-child(even) td
{
	background: #F1F1F1;
}
tr:nth-child(odd) td
{
	background: #FEFEFE;
}
tr:hover td
{
	background: #666;
	color: #FFF;
}
div.phoromatic_dashboard_block
{
	display: block;
	clear: both;
	padding: 5px 10px;
}
div.phoromatic_dashboard_block p
{
	margin: 0;
	padding: 0;
}
div.phoromatic_dashboard_block p strong
{
	color: #A4B304;
}
div.phoromatic_dashboard_block p em
{
	color: #272727;
	font-style: normal;
	font-size: 0.8em;
}
div.phoromatic_dashboard_block h1
{
	color: #A4B304;
	margin: 2px 0;
	font-size: 1.3em;
}
div.phoromatic_dashboard_block h2
{
	color: #272727;
	font-weight: 400;
	margin: 2px 0;
	font-size: 1.1em;
}
div.phoromatic_dashboard_block hr
{
	clear: both;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	background: #A4B304;
	height: 3px;
}
div.phoromatic_overview_box
{
	background: #f1f1f1;
	border-radius: 3px;
	padding: 4px 12px;
	margin: 10px 0;
	border: #4e4e4e 1px solid;
}
div#phoromatic_result_compare_info_box
{
	font-size: 0.6em;
	color: #000;
	text-align: center;
	border: 1px solid #222;
	margin: 10px 30px;
	padding: 4px;
	display: none;
}
div#phoromatic_result_delete_box
{
	font-size: 0.6em;
	color: #000;
	text-align: center;
	border: 1px solid #222;
	margin: 10px 30px;
	padding: 4px;
	display: none;
}
.tabs
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.tabs label
{
	order: 1;
	display: block;
	padding: 5px 10px;
	margin: 0 1px 2px;
	cursor: pointer;
	background: #ef5e09;
	color: #fff;
	transition: background ease 0.5s;
	user-select: none;
}
.tabs .tab
{
	order: 99;
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
	background: #fff;
}
.tabs input[type="radio"]
{
	display: none;
}
.tabs input[type="radio"]:checked + label
{
	color: #000;
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab
{
	display: block;
}
div.phoromatic_overview_box h1
{

	padding: 0;
	margin: 1px 0 4px;
}
div.phoromatic_overview_box h2, div.phoromatic_overview_box h3
{
	padding: 0;
	margin: 1px 0 2px;
}
div#phoromatic_fixed_main_table
{
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 5px;
}
div#phoromatic_main_table_cell
{
	padding: 16px 10px;
	display: table-cell;
}
div#pts_results_area svg
{
	min-width: 60%;
	height: auto;
}
input#search_input
{
	margin: 0;
	padding: 0;
	width: 300px !important;
	height: 20px;
	border-width: 1px;
}
div.search_expander
{
	width: 500px;
	height: 100px;
	background: orange;
	z-index: 100;
	display: none;
}
form:hover div.search_expander
{
	display: none;
}

.div_table
{
	display: table;
}
div#main_area .div_table_cell input
{
	font-size: 12px;
	padding: 0;
}
.div_table_row
{
	display: table-row;
}
.div_table_first_row
{
	display: table-row;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}
.div_table_cell
{
	border: 0;
	display: table-cell;
	padding: 1px 0 1px 4px;
}
.div_table_body
{
	display: table-row-group;
}

a div.table_test_box:hover
{
	background: #f1f1f1;
	border-color: #1F1F1F;
}
div.pts_test_boxes
{
	overflow: hidden;
}
div.table_test_box
{
	background: #fff;
	color: #000;
	font-size: 12px;
	border: solid #949494 1px;
	display: block;
	margin: 3px;
	padding: 2px 4px;
	float: left;
	width: 280px;
}
div.table_test_box strong
{
	color: #044374;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.table_test_box em, div.pts_test_boxes em
{
	color: #ef5e09;
}

@media screen and (max-width: 1200px) {
	div#pts_phoromatic_top_header ul li > ul
	{
		display: block;
	}
	div.pts_phoromatic_info_box_area ul
	{
		margin: 10px 0;
	}
	.img_logo_pg{
	max-width:200px;

	}

}

@media screen and (max-width: 720px) {
	div#pts_phoromatic_top_header ul li > ul
	{
		display: none;
	}
	div#pts_phoromatic_top_header ul li:nth-child(even)
	{
		background-color: #fff;
		color:#666;
	}


	div#pts_phoromatic_top_header:active ul li > ul
	{
		display: block;

	}
	div#pts_results_area svg
	{
		min-width: 300px;
		width: 96%;
		height: auto;
	}
	div#phoromatic_main_table_cell
	{
		display: table-row;
	}
	.img_logo_pg{
	max-width:200px;

	}
	div#pts_phoromatic_top_header li
	{
		text-align: center;
		float: none;
		width: 70%;
	}
	div#pts_phoromatic_top_header ul
	{
		text-align: center;
	}
	input#search_input
	{
		width: 100%;
	}
	div.pts_phoromatic_info_box_area ul
	{
		max-height: 100%;
	}
}
