[Desktop Entry]
Name=Phoronix Test Suite
GenericName=Phoronix Test Suite Benchmarking Utility
Comment=An Automated, Open-Source Testing Framework
Comment[fr]=Outil pour étalonner les performances de votre ordinateur
Exec=phoronix-test-suite shell
StartupNotify=true
Icon=phoronix-test-suite
Terminal=true
Type=Application
Categories=System;Monitor;
