[Unit]
Description=Phoronix Test Suite Phoromatic Client
After=syslog.target
After=network.target

[Service]
TimeoutStartSec=300
ExecStart=/usr/bin/phoronix-test-suite phoromatic.connect

[Install]
WantedBy=multi-user.target


