[Unit]
Description=Phoronix Test Suite Phoromatic Client
After=syslog.target network-online.target
Documentation=man:phoronix-test-suite(1)

[Service]
TimeoutStartSec=300
ExecStart=/usr/bin/phoronix-test-suite phoromatic.connect
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target


